<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="VideoKey" value="97215ab1b6ce4a92afc6704a04b57397"/>
    <add key="FaceKey" value="7fbb1da94b634ce9b906892f671c6d47"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>